<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.png') }}" >
</head>
<body>
{% include "header.html" ignore missing %}
{% include "menu.html" ignore missing %}
<div class="body-box">
    <form action="/save" method="post">
        <label for="name">Full Name</label>
        <input type="text" id="name" name="name" placeholder="Full name ... " required class="input-type">
        <label for="mail">Email</label>
        <input type="email" id="mail" name="mail" placeholder="Email Address ... " required class="input-type">
        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" name="phone" placeholder="Phone Number ... " required class="input-type">
        <span class="left-box">
            <label for="semester">Semester</label>
        <select id="semester" name="semester" required class="input-type">
            <option value="" disabled selected hidden>Choose Semester</option>
            <option value="First Semester">First Semester</option>
            <option value="Second Semester">Second Semester</option>
            <option value="Third Semester">Third Semester</option>
            <option value="Fourth Semester">Fourth Semester</option>
        </select>
        </span>
        <span class="right-box">
             <label for="subject">Subject</label>
            <select id="subject" name="subject" required class="input-type">
             <option value="" disabled selected hidden>Choose Subject</option>
            <option value="Architecture">Architecture</option>
            <option value="Accounting">Accounting</option>
            <option value="Management">Management</option>
            <option value="Finance">Finance</option>
            <option value="Computer Science">Computer Science</option>
            <option value="Electronic Engineering">Electronic Engineering</option>
            <option value="Nursing">Nursing</option>
        </select>
        </span>
        <input type="submit" value="Submit">
    </form>
</div>
{% include "footer.html" ignore missing %}
</body>
</html>